In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('alunos.csv')

## Verifique se a base de dados possui dados nulos e, caso tenha, realize o tratamento desses dados nulos da forma que achar mais coerente com a situação.

**Podemos começar verificando a existência de dados nulos:**

In [3]:
dados.isnull().sum()

Nome        0
Idade       0
Notas       6
Aprovado    0
dtype: int64

**E com o resultado, vamos notar que apenas a coluna "Notas" possui dados nulos. Nesse caso, podemos pensar que os alunos que estão sem nota muito provavelmente estavam com 0. Sendo assim, podemos substituir os valores nulos por 0:**

In [4]:
dados = dados.fillna(0)
dados

         Nome  Idade  Notas  Aprovado
0         Ary     20    7.5      True
1         Ana     18    0.0     False
2       Cátia     27    2.5     False
3       Denis     18    5.0     False
4        Beto     21   10.0      True
5       Bruna     23    0.0     False
6        Dara     21    7.0      True
7      Carlos     19    6.0      True
8       Alice     35    5.6     False
9       Vitor     28    0.0     False
10     Daniel     21    0.0     False
11       Igor     24    4.5     False
12  Sthefanie     26    9.5      True
13      Mirla     25    9.0      True
14      Paulo     37    0.0     False
15     Mylena     29    7.0      True
16      Lucas     33    0.0     False
17      Nadia     34    8.0      True

## Os alunos "Alice" e "Carlos", não fazem mais parte da turma. Sendo assim, remova-os da base de dados.

**Para removermos os alunos "Alice" e "Carlos" da nossa base de dados, precisamos pegar os índices das linhas onde os nomes deles estão localizados e utilizar o método drop para remover as respectivas linhas:**

In [5]:
# salvando os índices das linhas a serem removidas em uma variável
alunos_a_remover = dados.query('Nome == "Alice" | Nome == "Carlos"').index

In [6]:
# removendo as linhas referentes aos alunos "Alice" e "Carlos"
dados.drop(alunos_a_remover, axis=0, inplace=True)

In [7]:
dados

         Nome  Idade  Notas  Aprovado
0         Ary     20    7.5      True
1         Ana     18    0.0     False
2       Cátia     27    2.5     False
3       Denis     18    5.0     False
4        Beto     21   10.0      True
5       Bruna     23    0.0     False
6        Dara     21    7.0      True
9       Vitor     28    0.0     False
10     Daniel     21    0.0     False
11       Igor     24    4.5     False
12  Sthefanie     26    9.5      True
13      Mirla     25    9.0      True
14      Paulo     37    0.0     False
15     Mylena     29    7.0      True
16      Lucas     33    0.0     False
17      Nadia     34    8.0      True

## Aplique um filtro que selecione apenas os alunos que foram aprovados.

**Nesse caso, nosso primeiro passo é criar uma variável onde nós realizamos a seleção apenas dos alunos aprovados:**

In [8]:
selecao = dados['Aprovado'] == True

**Feito isso, podemos passar essa seleção para nosso DataFrame:**

In [9]:
dados[selecao]

         Nome  Idade  Notas  Aprovado
0         Ary     20    7.5      True
4        Beto     21   10.0      True
6        Dara     21    7.0      True
12  Sthefanie     26    9.5      True
13      Mirla     25    9.0      True
15     Mylena     29    7.0      True
17      Nadia     34    8.0      True

##  Salve o DataFrame que possui apenas os alunos aprovados em um arquivo csv chamado "alunos_aprovados.csv".

**Para salvarmos o DataFrame apenas com os alunos aprovados, nós podemos começar salvando o DataFrame resultante do desafio 3 em uma variável:**

In [10]:
alunos_aprovados = dados[selecao]

**Em seguida, podemos utilizar o método to_csv para salvá-lo no formato csv:**

In [11]:
alunos_aprovados.to_csv('alunos_aprovados.csv', index=False)

## Extra: Ao conferir as notas dos alunos aprovados, notamos que algumas notas estavam incorretas. As alunas que tiraram nota 7.0, na verdade, tinham um ponto extra que não foi contabilizado. Sendo assim, substitua as notas 7.0 da base de dados por 8.0. Dica: pesquise pelo método replace.

**O método replace é utilizado para substituir um determinado valor por outro. No caso da nossa base de dados, nós queremos substituir os valores 7.0 por 8.0. Para isso, nós podemos utilizar o seguinte trecho de código:**

In [12]:
alunos_aprovados.replace(7.0, 8.0)

         Nome  Idade  Notas  Aprovado
0         Ary     20    7.5      True
4        Beto     21   10.0      True
6        Dara     21    8.0      True
12  Sthefanie     26    9.5      True
13      Mirla     25    9.0      True
15     Mylena     29    8.0      True
17      Nadia     34    8.0      True

**E para salvarmos essa alteração de forma definitiva, podemos atribuí-la a nossa variável:**

In [13]:
alunos_aprovados = alunos_aprovados.replace(7.0, 8.0)
alunos_aprovados

         Nome  Idade  Notas  Aprovado
0         Ary     20    7.5      True
4        Beto     21   10.0      True
6        Dara     21    8.0      True
12  Sthefanie     26    9.5      True
13      Mirla     25    9.0      True
15     Mylena     29    8.0      True
17      Nadia     34    8.0      True